body {
    background-color: #24353f;
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", sans-serif;
}

.container {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    width: 65%;
}

input {
    background-color: #24353f !important;
}

input {
    border: 1px solid #ced4da;
    color: white !important;
}

:-ms-input-placeholder {
    color: #ced4da !important;
}

::-webkit-input-placeholder {
    color: #ced4da !important;
} 
nav{
    margin-bottom: 150px;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}